*{
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
html{
	/* overflow: hidden; */
}
body{
	--picture: url("../PNG/225x300.png");
}
/* p1 and p2 */
.show{
	visibility: visible !important;
	opacity: 1 !important;
}
.player{
	padding: 2px;
	display: inline-grid;
	background-color: blue;
}
.hp{
	position: relative;
	border-style: ridge;
	border-width: 1.5px;
	border-color: #808000;
	background-color: #808000;
	background-size: cover;
	height: 26px;
	width: 100%;
}
#hpglow{
	--glow-blur: 10px;
	--glow-color: red;
	height: 100%;
	-webkit-box-shadow: 1px 1px 2px #ffff80, 0 0 25px #ffffb3, 0 0 5px #ffffff;
			box-shadow: 1px 1px 2px #ffff80, 0 0 25px #ffffb3, 0 0 5px #ffffff;
	border-radius: inherit;
	overflow: hidden;
}
.duelistEnergy{
	position: relative;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ffff99),to(#ffff00));
	background-image: linear-gradient(#ffff99,#ffff00);
	background-size: cover;
	width: 50%;
	height: 100%;
	border-radius: 0 !important;
	border-color: #ffff00;
	overflow: hidden;
}
.duelistEnergy::after{
	position: absolute;
	top: -2px;
	content: "";
	width: 25px;
	height: 200%;
	background-color: #808000;
}
.photo{
	border-style: ridge;
	border-color: #808000;
	border-radius: 0 15px;
	display: inline-block;
	margin-top: 5px;
	height: 150px;
	width: 150px;
}
.items_div{
	margin-top: 3px;
	padding: 2px 5px;
}
.lifepoints{
	display: inline-block;
	border-color: #a3a300;
	border-style: ridge;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a300), color-stop(#ffa31a), to(#686801));
	background-image: linear-gradient(#a3a300, #ffa31a, #686801);
	text-shadow: 1px 1px 2px #929204, 0.5px 0.5px #ebeb3c,4px 3px 1px rgb(54, 48, 48) , -3px 3px 30px rgb(219, 0, 82);
	letter-spacing: 5px;
	font: bolder 35px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;

	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0.5s, opacity 0.5s linear;
	transition: visibility 0.5s, opacity 0.5s linear;

	height: 108px;
	line-height: 108px;
	width: 195px;
	border-radius: 10px;

	margin: 5px;
	padding: 0px 5px;
	text-align: center;
	
}

/* -- Player 1 --*/
#p1DuelistEnergy::after{
	-webkit-box-shadow: -2px 4px var(--glow-blur) var(--glow-color);
			box-shadow: -2px 4px var(--glow-blur) var(--glow-color);
	left: calc(100% - 20px);
	-webkit-transform: rotate(50deg) translateY(-8%);
			transform: rotate(50deg) translateY(-8%);
	border-left: 1.5px solid red;
}
#player1hp, #p1DuelistEnergy{
	border-radius: 15px 60%;
	grid-column: 1 / span 7;
}
#player1ph{
	background-image: var(--picture);
	grid-column: 1 / span 2;
	grid-row: 2 / span 4;
}
#player1it{
	grid-column: 3 / span 5;
	grid-row: 2;
}
#player1lp{
	grid-column: 3 / span 5;
	grid-row: 3 / span 3;
}


/* -- Player 2 -- */
#player2{
	float: right;
}
#p2DuelistEnergy::after{
	-webkit-box-shadow: 2px 4px var(--glow-blur) var(--glow-color);
			box-shadow: 2px 4px var(--glow-blur) var(--glow-color);
	right: calc(100% - 20px);
	-webkit-transform: rotate(-50deg) translateY(-8%);
			transform: rotate(-50deg) translateY(-8%);
	border-right: 1.5px solid red;
}
#player2hp, #p2DuelistEnergy{
	border-radius: 60% 15px;
	grid-column: 1 / span 7;
	float:right;
}
#player2ph{
	background-image: var(--picture);
	/* scaleX shte se mahne !! */
	border-radius: 15px 0;
	grid-column: 6 / span 2;
	grid-row: 2 / span 4;
}
#player2it{
	grid-column: 1 / span 5;
}
#player2lp{
	grid-column: 2 / span 4;
	grid-row: 3 / span 3;
}

/* -- Items -- */
.items{
	border: 4px ridge #808000;
	display: inline-block;
	background-size: cover;
	padding-left: 5px;
	height: 35px;
	width: 35px;
}


/* -- MAT -- */
#mat{
	display: inline-block;
	/* background: pink; */
	margin: auto;
	padding: 20px;
	transition: transform 0.4s ease-out;
}
#mat::after{
	display: block;
	height: 20px;
	transform:translate(-20%);
	width: 120%;
	content: '';
}
.mat1v1{
	transform: perspective(800px) translate(-22%, -200px) rotateX(33deg) rotateY(2deg) rotateZ(-2deg) scale(1.8);
}
.mat2v2{
	-webkit-transform: perspective(1150px) translate(40%, -148px) rotateX(60deg) rotateZ(3deg);
			transform: perspective(1150px) translate(40%, -148px) rotateX(60deg) rotateZ(3deg);
}


.spell:nth-child(2), .spell:nth-child(3), .spell:nth-child(4){
	background-color: blue;
	background-image: url('../PNG/card_back.jpg');
	background-size: cover;
}
.side, .sZone, .mZone, .inner{
	display: grid;
}
.sZone, .mZone, .inner{
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-column-gap: 35px;
}
.side{
	padding: 7px 12px;
    grid-row-gap: 7px;
    border-radius: 10px;
	background: red;
}
.side div{
	padding: 6px;
}
#matSide2 .monster, #matSide2 .spell {
	transform: rotate(180deg);
}
.mat1v1 .side .twoVtwo{
	display: none;
}
.mat2v2 .side .twoVtwo{
	display: grid;
}

.sideDeck{
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
}

.monster, .spell, #middle{
	background-image: -webkit-gradient(linear, left top, right bottom, from(yellow), color-stop(green), to(yellow));
	background-image: linear-gradient(to bottom right, yellow, green, yellow);
}
.sideDeck, .extraDeck, .deck, .fieldCard, .graveyard{
	background-image: -webkit-gradient(linear, left top, right bottom, from(cyan), color-stop(green), to(blue));
	background-image: linear-gradient(to bottom right, cyan, green, blue)
}

/* CARD */
.font-glow{
	background: -webkit-linear-gradient(#ffffff,#ffffb3,#ffff99,#ffff33);
	text-shadow: 0 0 50px rgba(255, 255, 204, 0.5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#card{
	position: relative;
	background-image: url('../PNG/divBG.png');
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	width: 350px;
	max-height: 660px;
	padding: 10px 0;
	transform: translateY(5px);
	transition: transform 0.4s ease-out, opacity 2s ease-out;
	margin-bottom: 1%;
	z-index: 1;
}
.hide_desc{ /* on click hide butt */
	transform: translate(calc(-100% - 18px), 5px) !important;
}
#hide_butt{
	position: absolute;
	top: 50%;
	right: -24px; /* -10 - width(Because desc is 10px out of the page) - body padding(6px) + 2(to touch body wall)*/
	user-select: none;

	cursor: default;
	min-width: 10px;
	height: 150px;
	line-height: 150px; /* Same as height */
	font-weight: bold;

	padding: 0px 3px;
	transform: translate(-24px, -50%);
	transition: transform 0.4s ease-out, background 0.2s ease-in;
	background: transparent;
	color: white;
}
#hide_butt:hover{
	background: black;
}
.show_butt{
	transform: translate(0, -50%) scaleX(-1) !important;
	background: #383838 !important;
}
.show_butt:hover{
	background: #151515 !important;
}
#card_name h1{
	font-size: 2em;
	text-align: center;
	margin: 0;
}
#card_pic{
	height: 360px;
	width: 242px;
	margin: 10px auto;
	background-image: url('../PNG/card_back.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
#card_stats{
	font-size: 1.5em;
	text-align: center;
}
#card_stats span:nth-child(2){
	padding: 0 5px;
}
#card_desc{
	font-family: monospace;
	margin: 10px auto;
	padding: 5px 20px;
	width: 272px;
	max-height: 150px;
	color: #585858;
	background-color: #000000;
	border: 1px solid #585858;
	border-radius: 3px;
	word-wrap: break-word;
	overflow-y: scroll;
}
#card_desc::-webkit-scrollbar{
	width: 7px;
	height: 7px;
}
#card_desc::-webkit-scrollbar-track {
	/* border-radius: 4px; */
	background: #686868;
	border-radius: 6px;
}
#card_desc::-webkit-scrollbar-thumb{
	background: #252525;
	border-radius: 5px;
}
#card_desc::-webkit-scrollbar-thumb:hover {
	background: #181818;
	/* border-radius: 6px; */
}

@keyframes ivan{
	0%{
		zoom: 1;
	}
	4.17%{
		zoom: 0.9875;
	}
	8.33%{
		zoom: 0.975;
	}
	12.5%{
		zoom: 0.9625;
	}
	16.67%{
		zoom: 0.95;
	}
	20.83%{
		zoom: 0.9375;
	}
	25%{
		zoom: 0.925;
	}
	29.17%{
		zoom: 0.9125;
	}
	33.33%{
		zoom: 0.9;
	}
	37.50%{
		zoom: 0.8875;
	}
	41.67%{
		zoom: 0.875;
	}
	45.84%{
		zoom: 0.8625;
	}
	50%{
		zoom: 0.85;
	}
	54.12%{
		zoom: 0.8375;
	}
	58.34%{
		zoom: 0.825;
	}
	62.51%{
		zoom: 0.8125;
	}
	66.67%{
		zoom: 0.8;
	}
	70.84%{
		zoom: 0.7875;
	}
	75%{
		zoom: 0.775;
	}
	79.17%{
		zoom: 0.7625;
	}
	83.34%{
		zoom: 0.75;
	}
	87.51%{
		zoom: 0.7375;
	}
	91.67%{
		zoom: 0.725;
	}
	95.84%{
		zoom: 0.7125;
	}
	100%{
		zoom: 0.7;
	}
}
header{
	/* transition: zoom 3s; */
	/* animation: 1s ivan 0s 1 ease-in;
	zoom: 0.7; */
	/* transform: scale(0.7); */
}
.deck, .extraDeck, .sideDeck,
.fieldCard, .spell, .graveyard,
.banished, .monster, .none{
	width: 52px;
	height: 70px;
}