/* --- MAT QUERIES --- */

@media only screen and (max-width:1797px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, -331px) rotateX(39deg) rotateY(2deg) rotateZ(-4deg) scale(1.2);
	}
}
@media only screen and (max-width:1598px){
	.mat1v1{
		transform: perspective(800px) translate(-26%, -354px) rotateX(35deg) rotateY(2deg) rotateZ(-3deg) scale(1.15);
	}
}
@media only screen and (max-width:1498px){
	.mat1v1{
		transform: perspective(800px) translate(-12%, -190px) rotateX(44deg) rotateY(2deg) rotateZ(-3deg) scale(1.05);
	}
}
@media only screen and (max-width:1332px){
	.mat1v1{
		transform: perspective(800px) translate(-14%, -190px) rotateX(44deg) rotateY(2deg) rotateZ(-3deg) scale(1);
	}
}
@media only screen and (max-width:1200px){
	.mat1v1{
		transform: perspective(800px) translate(-18%, -180px) rotateX(45deg) rotateY(2deg) rotateZ(-3deg) scale(1.15);
	}
}
@media only screen and (max-width:1182px){
	.mat1v1{
		transform: perspective(800px) translate(-8%, -190px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.9);
	}
}
@media only screen and (max-width:1060px){
	.mat1v1{
		transform: perspective(800px) translate(-7%, -180px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.85);
	}
}
@media only screen and (max-width:985px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, -180px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.85);
	}
}
@media only screen and (max-width:882px){
	.mat1v1{
		transform: perspective(800px) translate(-12%, 21px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.85);
	}
}
/* @media only screen and (max-width:865px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-1deg) scale(0.85);
	}
} */
@media only screen and (max-width:788px){
	.mat1v1{
		transform: perspective(800px) translate(-36%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.8);
	}
}
@media only screen and (max-width:646px){
	.mat1v1{
		transform: perspective(800px) translate(-36%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.8);
	}
}
@media only screen and (max-width:622px){
	.mat1v1{
		transform: perspective(800px) translate(-43%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.7);
	}
	#card{
		transition: opacity 2s ease-out;
		opacity: 0;
	}
}
@media only screen and (max-width:538px){
	.mat1v1{
		transform: translate(-63%, 74px) scale(0.65);
	}
}
@media only screen and (max-width:429px){
	.mat1v1{
		/* transform: translate(-63%, 74px) scale(0.65); */
	}
}
@media only screen and (max-width:866px){
	/* .mat1v1{
		top: -200px !important;
		-webkit-transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
				transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
	} */
	.mat2v2{
		top: -80% !important;
		-webkit-transform: perspective(1150px) translate(45%, 400px) rotateX(-70deg) rotateZ(3deg);
				transform: perspective(1150px) translate(45%, 400px) rotateX(-90deg) rotateZ(-3deg);
	}
}
@media only screen and (max-width:470px){
	/* .mat1v1{
		top: -60% !important;
		right: 30% !important;
		-webkit-transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
				transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
	} */
	.mat2v2{
		top: -100% !important;
		right: 0% !important;
		-webkit-transform: perspective(1150px) translate(45%, 400px) rotateX(-70deg) rotateZ(3deg);
				transform: perspective(1150px) translate(45%, 400px) rotateX(-90deg) rotateZ(-3deg);
	}
}

/* --- END MAT QUERIES --- */

/* --- CARD DESCRIPTION QUERIES --- */

@media only screen and (max-width:734px){
	#card{
		transform: translate(0,190px);
	}
}
@media only screen and (max-width:463px){
	#card{
		transform: translate(0,226px);
	}
}
/* --- END CARD DESCRIPTION QUERIES */