*{
	box-sizing: border-box;
}
body{
	--picture: url("../PNG/225x300.png");
}
/* p1 and p2 */
#player1ph:hover ~ #player1lp, #player1lp:hover, #player2ph:hover ~ #player2lp, #player2lp:hover{
	visibility: visible;
	opacity: 1;
}
.player{
	padding: 2px;
	display: inline-grid;
	background-color: blue;
}
.hp{
	position: relative;
	border-style: ridge;
	border-width: 1.5px;
	border-color: #808000;
	background-color: #808000;
	background-size: cover;
	height: 26px;
}
#hpglow{
	--glow-blur: 10px;
	--glow-color: red;
	box-shadow: 1px 1px 2px #ffff80, 0 0 25px #ffffb3, 0 0 5px #ffffff;
	border-radius: inherit;
	overflow: hidden;
}
.duelistEnergy{
	position: relative;
	background-image: linear-gradient(#ffff99,#ffff00);
	background-size: cover;
	width: 50%;
	height: 100%;
	border-radius: 0 !important;
	border-color: #ffff00;
	overflow: hidden;
}
.duelistEnergy::after{
	position: absolute;
	top: -2px;
	content: "";
	width: 25px;
	height: 200%;
	background-color: #808000;
}
.photo{
	border-style: ridge;
	border-color: #808000;
	border-radius: 0 15px 0 15px;
	display: inline-block;
	margin-top: 5px;
	height: 150px;
	width: 150px;
}
.items_div{
	margin-top: 3px;
	padding: 2px 5px;
}
.lifepoints{
	display: inline-block;
	border-color: #a3a300;
	border-style: ridge;
	background-image: linear-gradient(#a3a300, #ffa31a, #686801);
	text-shadow: 1px 1px 2px #929204, 0.5px 0.5px #ebeb3c,4px 3px 1px rgb(54, 48, 48) , -3px 3px 30px rgb(219, 0, 82);
	letter-spacing: 5px;
	font: bolder 35px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;

	height: 108px;
	line-height: 108px;
	width: 195px;
	border-radius: 10px;

	margin: 5px;
	padding: 0px 5px;
	text-align: right;
	
}

/* -- Player 1 --*/
#player1, #p1DuelistEnergy{
	left: 0px;
	float: left;
}
#p1DuelistEnergy::after{
	box-shadow: -2px 4px var(--glow-blur) var(--glow-color);
	left: calc(100% - 20px);
	transform: rotate(50deg) translateY(-8%);
	border-left: 1.5px solid red;
}
#player1hp, #p1DuelistEnergy{
	border-radius: 15px 60%;
	grid-column: 1 / span 7;
}
#player1ph{
	background-image: var(--picture);
	grid-column: 1 / span 2;
	grid-row: 2 / span 4;
}
#player1it{
	grid-column: 3 / span 5;
	grid-row: 2;
}
#player1lp{
	grid-column: 3 / span 5;
	grid-row: 3 / span 3;
}


/* -- Player 2 -- */
#player2, #p2DuelistEnergy{
	right: 0px;
	float: right;
}
#p2DuelistEnergy::after{
	box-shadow: 2px 4px var(--glow-blur) var(--glow-color);
	right: calc(100% - 20px);
	transform: rotate(-50deg) translateY(-8%);
	border-right: 1.5px solid red;
}
#player2hp, #p2DuelistEnergy{
	border-radius: 60% 15px;
	grid-column: 1 / span 7;
}
#player2ph{
	background-image: var(--picture);
	/* scaleX shte se mahne !! */
	transform: scaleX(-1);
	grid-column: 6 / span 2;
	grid-row: 2 / span 4;
}
#player2it{
	grid-column: 1 / span 5;
}
#player2lp{
	grid-column: 2 / span 4;
	grid-row: 3 / span 3;
}

/* -- Items -- */
.items{
	border-style: ridge;
	border-color: #808000;
	display: inline-block;
	background-size: cover;
	padding-left: 5px;
	height: 35px;
	width: 35px;
}

/* -- MAT -- */
.mat1v1, .mat2v2{
	/* margin: auto; */
}
.side, .sZone, .mZone, .inner{
	display: grid;
}
.sZone, .mZone, .inner{
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-column-gap: 35px;
}
.side{
	margin: auto;
	background: red;
}
.side div{
	padding: 6px;
}
.mat1v1 .side{
	padding: 7px 1%;
	grid-row-gap: 7px;
	width: 600px;
	height: calc(450px * 0.6);
}
.mat1v1 .side .twoVtwo{
	display:none;
}
.mat2v2 .side{
	padding: 7px 1%;
	grid-row-gap: 7px;
	width: 600px;
	height: 450px;
}
.mat2v2 .side .twoVtwo{
	display: grid;
}


.sideDeck{
	transform: rotate(90deg);
}

.monster, .spell, #middle{
	background-image: linear-gradient(to bottom right, yellow, green, yellow);
}
.sideDeck, .extraDeck, .deck, .fieldCard, .graveyard{
	background-image: linear-gradient(to bottom right, cyan, green, blue)
}