*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html{
	/* overflow: hidden; */
}
body{
	--picture: url("../PNG/225x300.png");
}
/* p1 and p2 */
.show{
	visibility: visible !important;
	opacity: 1 !important;
}
.player{
	padding: 2px;
	display: inline-grid;
	background-color: blue;
}
.hp{
	position: relative;
	border-style: ridge;
	border-width: 1.5px;
	border-color: #808000;
	background-color: #808000;
	background-size: cover;
	height: 26px;
}
#hpglow{
	--glow-blur: 10px;
	--glow-color: red;
	height: 100%;
	-webkit-box-shadow: 1px 1px 2px #ffff80, 0 0 25px #ffffb3, 0 0 5px #ffffff;
	        box-shadow: 1px 1px 2px #ffff80, 0 0 25px #ffffb3, 0 0 5px #ffffff;
	border-radius: inherit;
	overflow: hidden;
}
.duelistEnergy{
	position: relative;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ffff99),to(#ffff00));
	background-image: linear-gradient(#ffff99,#ffff00);
	background-size: cover;
	width: 50%;
	height: 100%;
	border-radius: 0 !important;
	border-color: #ffff00;
	overflow: hidden;
}
.duelistEnergy::after{
	position: absolute;
	top: -2px;
	content: "";
	width: 25px;
	height: 200%;
	background-color: #808000;
}
.photo{
	border-style: ridge;
	border-color: #808000;
	border-radius: 0 15px 0 15px;
	display: inline-block;
	margin-top: 5px;
	height: 150px;
	width: 150px;
}
.items_div{
	margin-top: 3px;
	padding: 2px 5px;
}
.lifepoints{
	display: inline-block;
	border-color: #a3a300;
	border-style: ridge;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a300), color-stop(#ffa31a), to(#686801));
	background-image: linear-gradient(#a3a300, #ffa31a, #686801);
	text-shadow: 1px 1px 2px #929204, 0.5px 0.5px #ebeb3c,4px 3px 1px rgb(54, 48, 48) , -3px 3px 30px rgb(219, 0, 82);
	letter-spacing: 5px;
	font: bolder 35px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;

	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0.5s, opacity 0.5s linear;
	transition: visibility 0.5s, opacity 0.5s linear;

	height: 108px;
	line-height: 108px;
	width: 195px;
	border-radius: 10px;

	margin: 5px;
	padding: 0px 5px;
	text-align: right;
	
}

/* -- Player 1 --*/
#p1DuelistEnergy::after{
	-webkit-box-shadow: -2px 4px var(--glow-blur) var(--glow-color);
	        box-shadow: -2px 4px var(--glow-blur) var(--glow-color);
	left: calc(100% - 20px);
	-webkit-transform: rotate(50deg) translateY(-8%);
	        transform: rotate(50deg) translateY(-8%);
	border-left: 1.5px solid red;
}
#player1hp, #p1DuelistEnergy{
	border-radius: 15px 60%;
	grid-column: 1 / span 7;
}
#player1ph{
	background-image: var(--picture);
	grid-column: 1 / span 2;
	grid-row: 2 / span 4;
}
#player1it{
	grid-column: 3 / span 5;
	grid-row: 2;
}
#player1lp{
	grid-column: 3 / span 5;
	grid-row: 3 / span 3;
}


/* -- Player 2 -- */
#player2{
	float: right;
}
#p2DuelistEnergy::after{
	-webkit-box-shadow: 2px 4px var(--glow-blur) var(--glow-color);
	        box-shadow: 2px 4px var(--glow-blur) var(--glow-color);
	right: calc(100% - 20px);
	-webkit-transform: rotate(-50deg) translateY(-8%);
	        transform: rotate(-50deg) translateY(-8%);
	border-right: 1.5px solid red;
}
#player2hp, #p2DuelistEnergy{
	border-radius: 60% 15px;
	grid-column: 1 / span 7;
	float:right;
}
#player2ph{
	background-image: var(--picture);
	/* scaleX shte se mahne !! */
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	grid-column: 6 / span 2;
	grid-row: 2 / span 4;
}
#player2it{
	grid-column: 1 / span 5;
}
#player2lp{
	grid-column: 2 / span 4;
	grid-row: 3 / span 3;
}

/* -- Items -- */
.items{
	border-style: ridge;
	border-color: #808000;
	display: inline-block;
	background-size: cover;
	padding-left: 5px;
	height: 35px;
	width: 35px;
}

/* -- MAT -- */
.mat1v1{
	-webkit-transform: perspective(800px) translate(-12%, -240px) rotateX(52deg) rotateY(3deg) rotateZ(-8deg) scale(1.2);
	        transform: perspective(800px) translate(-12%, -240px) rotateX(52deg) rotateY(3deg) rotateZ(-8deg) scale(1.2);
}
.mat2v2{
	-webkit-transform: perspective(1150px) translate(40%, -148px) rotateX(60deg) rotateZ(3deg);
	        transform: perspective(1150px) translate(40%, -148px) rotateX(60deg) rotateZ(3deg);
}




@media only screen and (max-width:1797px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, -331px) rotateX(39deg) rotateY(2deg) rotateZ(-4deg) scale(1.2);
	}
}
@media only screen and (max-width:1598px){
	.mat1v1{
		transform: perspective(800px) translate(-26%, -354px) rotateX(35deg) rotateY(2deg) rotateZ(-3deg) scale(1.15);
	}
}
@media only screen and (max-width:1498px){
	.mat1v1{
		transform: perspective(800px) translate(-12%, -190px) rotateX(44deg) rotateY(2deg) rotateZ(-3deg) scale(1.05);
	}
}
@media only screen and (max-width:1332px){
	.mat1v1{
		transform: perspective(800px) translate(-14%, -190px) rotateX(44deg) rotateY(2deg) rotateZ(-3deg) scale(1);
	}
}
@media only screen and (max-width:1200px){
	.mat1v1{
		transform: perspective(800px) translate(-18%, -180px) rotateX(45deg) rotateY(2deg) rotateZ(-3deg) scale(1.15);
	}
}
@media only screen and (max-width:1182px){
	.mat1v1{
		transform: perspective(800px) translate(-8%, -190px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.9);
	}
}
@media only screen and (max-width:1060px){
	.mat1v1{
		transform: perspective(800px) translate(-7%, -180px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.85);
	}
}
@media only screen and (max-width:985px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, -180px) rotateX(43deg) rotateY(2deg) rotateZ(-3deg) scale(0.85);
	}
}
@media only screen and (max-width:881px){
	.mat1v1{
		transform: perspective(800px) translate(-12%, 21px) rotateX(42deg) rotateY(2deg) rotateZ(-1deg) scale(0.85);
	}
}
@media only screen and (max-width:865px){
	.mat1v1{
		transform: perspective(800px) translate(-21%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-1deg) scale(0.85);
	}
}
@media only screen and (max-width:788px){
	.mat1v1{
		transform: perspective(800px) translate(-36%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.8);
	}
}
@media only screen and (max-width:646px){
	.mat1v1{
		transform: perspective(800px) translate(-36%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.8);
	}
}
@media only screen and (max-width:622px){
	.mat1v1{
		transform: perspective(800px) translate(-43%, 23px) rotateX(42deg) rotateY(2deg) rotateZ(-2deg) scale(0.7);
	}
}
@media only screen and (max-width:538px){
	.mat1v1{
		transform: translate(-63%, 74px) scale(0.65);
	}
	#card{
		transition: opacity 2s ease-out;
		opacity: 0;
	}
}
@media only screen and (max-width:429px){
	.mat1v1{
		/* transform: translate(-63%, 74px) scale(0.65); */
	}
}




@media only screen and (max-width:866px){
	/* .mat1v1{
		top: -200px !important;
		-webkit-transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
				transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
	} */
	.mat2v2{
		top: -80% !important;
		-webkit-transform: perspective(1150px) translate(45%, 400px) rotateX(-70deg) rotateZ(3deg);
				transform: perspective(1150px) translate(45%, 400px) rotateX(-90deg) rotateZ(-3deg);
	}
}
@media only screen and (max-width:470px){
	/* .mat1v1{
		top: -60% !important;
		right: 30% !important;
		-webkit-transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
				transform: perspective(800px) translate(50%, 400px) rotateX(-80deg) rotateZ(3deg);
	} */
	.mat2v2{
		top: -100% !important;
		right: 0% !important;
		-webkit-transform: perspective(1150px) translate(45%, 400px) rotateX(-70deg) rotateZ(3deg);
				transform: perspective(1150px) translate(45%, 400px) rotateX(-90deg) rotateZ(-3deg);
	}
}
.spell:nth-child(2), .spell:nth-child(3), .spell:nth-child(4){
	background-color: blue;
	background-image:url('../PNG/button.png');
	background-size: cover;
}
#mat{
	display: inline-block;
	/* background: pink; */
	margin: auto;
	padding: 20px;
}
#mat::after{
	display: block;
	height: 20px;
	transform:translate(-20%);
	width: 120%;
	content: '';
}
.side, .sZone, .mZone, .inner{
	display: grid;
}
.sZone, .mZone, .inner{
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-column-gap: 35px;
}
.side{
	/* margin: auto; */
	background: red;
}
.side div{
	padding: 6px;
}
#matSide2 .monster, #matSide2 .spell {
	transform: rotate(180deg);
}
.mat1v1 .side{
	padding: 7px 1%;
	grid-row-gap: 7px;
	width: 600px;
	height: calc(450px * 0.6);
}
.mat1v1 .side .twoVtwo{
	display:none;
}
.mat2v2 .side{
	padding: 7px 1%;
	grid-row-gap: 7px;
	width: 600px;
	height: 450px;
}
.mat2v2 .side .twoVtwo{
	display: grid;
}

.sideDeck{
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.monster, .spell, #middle{
	background-image: -webkit-gradient(linear, left top, right bottom, from(yellow), color-stop(green), to(yellow));
	background-image: linear-gradient(to bottom right, yellow, green, yellow);
}
.sideDeck, .extraDeck, .deck, .fieldCard, .graveyard{
	background-image: -webkit-gradient(linear, left top, right bottom, from(cyan), color-stop(green), to(blue));
	background-image: linear-gradient(to bottom right, cyan, green, blue)
}

/* CARD */
.font-glow{
	background: -webkit-linear-gradient(#ffffff,#ffffb3,#ffff99,#ffff33);
    text-shadow: 0 0 50px rgba(255, 255, 204, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#card{
	background-image: url('../PNG/divBG.png');
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	width: 350px;
	padding: 10px 0;
	transform: translateY(1%);
	margin-bottom: 1%;
	z-index: 1;
}
#card_name h1{
    font-size: 2em;
	text-align: center;
	margin: 0;
}
#card_pic{
	height: 360px;
	width: 242px;
	margin: 10px auto;
	background-image: url('../PNG/card_back.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
#card_stats{
	font-size: 1.5em;
	text-align: center;
}
#card_desc{
	margin: 10px auto;
	padding: 5px 20px;
	width: 272px;
	color: #585858;
	background-color: #000000;
	border: 1px solid #585858;
	border-radius: 3px;
	word-wrap: break-word;
}

@media only screen and (max-width:734px){
	#card{
		transform: translate(0,190px);
	}
}
@media only screen and (max-width:463px){
	#card{
		transform: translate(0,226px);
	}
}